@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deepBlue: #1b4965;
  --green: #2d6a4f;
  --greenLight: #40916c;
  --blueLight: #e8f4f8;
  --greenBg: #e6f2ed;
}

body {
  @apply bg-blueLight text-deepBlue font-sans antialiased;
}

@layer utilities {
  .font-heading {
    @apply font-serif font-bold;
  }
}
